{% extends 'partials/variables.html.twig' %}

{% set module = page.header.module %}

{% block render_block %}
    <div class="about_us_unique">
        <div class="container">
			<div class="about_us_unique_header">
				{% if module.title %}
					<h3 class="block-title">{{ module.title.translatable|striptags('<span>')|raw }}</h3>
				{% endif %}

                <div class="description">
                    {% if page.content %}
                        <div class="about_us_unique_description">
                            {{ page.content|raw }}
                        </div>
                    {% endif %}

                    <div class="about_us_unique_buttons">
						{% for button in module.buttons  %}
					
						<a class="button " href="{{ home_url|e }}{{ button.link }}">
							<span>{{ button.text.translatable }}</span>
				
						</a>
						{% endfor %}
					</div>
                </div>

				
			</div>
        </div>

        <div class="about_us_unique_container container">

            {% for about_us_unique in page.header.about_us_unique %}

                <div class="about_us_unique_card">
                    {% set img_out = page.media[about_us_unique.image_outside] %}
                    {% if img_out != '' %}
                        <div class="img_out">
                            <img class="" src="{{ img_out.url }}"/>
                        </div>
                    {% endif %}

                    {% set bg = page.media[about_us_unique.image_inside].url ?? '' %}

                    <div class="about_us_unique_contents" style="{% if(bg) %}background-image: url('{{ bg }}'){% endif %}">
        
       
                        {% set icon = page.media[about_us_unique.icon] %}
        
                        <img class="icon" src="{{ icon.url }}"/>

                        <p class="desc">{{ about_us_unique.description.translatable }}</p>

                        {% if about_us_unique.title %}
                            <h4 class="head">{{ about_us_unique.title.translatable }}</h4>
                        {% endif %}
            
   
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}
