{% extends 'partials/variables.html.twig' %}

{% set module = page.header.module %}
{% set top_image = page.media[module.top_image] %}


{% block render_block %}
    <div class="why_choose">
        <div class="container">
			<div class="why_choose_header">
				{% if module.title %}
					<h3 class="block-title">{{ module.title.translatable|striptags('<span>')|raw }}</h3>
				{% endif %}

                {# <div class="description">
                    {% if page.content %}
                        <div class="why_choose_description">
                            {{ page.content|raw }}
                        </div>
                    {% endif %}
                </div> #}

				
			</div>
        </div>

        <div class="button_choose_contents container">

            <div class="top_contents">
                {% if top_image %}
                    <img class="" src="{{ top_image.url }}"/>
                {% endif %}

                <div class="right">
                    <h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="24" viewBox="0 0 27 24" fill="none">
                            <path d="M24.75 1.5H2.25C1.00781 1.5 0 2.50781 0 3.75V20.25C0 21.4922 1.00781 22.5 2.25 22.5H24.75C25.9922 22.5 27 21.4922 27 20.25V3.75C27 2.50781 25.9922 1.5 24.75 1.5ZM8.25 6C9.90469 6 11.25 7.34531 11.25 9C11.25 10.6547 9.90469 12 8.25 12C6.59531 12 5.25 10.6547 5.25 9C5.25 7.34531 6.59531 6 8.25 6ZM13.5 17.1C13.5 17.5969 13.0312 18 12.45 18H4.05C3.46875 18 3 17.5969 3 17.1V16.2C3 14.7094 4.41094 13.5 6.15 13.5H6.38437C6.96094 13.7391 7.58906 13.875 8.25 13.875C8.91094 13.875 9.54375 13.7391 10.1156 13.5H10.35C12.0891 13.5 13.5 14.7094 13.5 16.2V17.1ZM24 14.625C24 14.8313 23.8312 15 23.625 15H16.875C16.6688 15 16.5 14.8313 16.5 14.625V13.875C16.5 13.6687 16.6688 13.5 16.875 13.5H23.625C23.8312 13.5 24 13.6687 24 13.875V14.625ZM24 11.625C24 11.8313 23.8312 12 23.625 12H16.875C16.6688 12 16.5 11.8313 16.5 11.625V10.875C16.5 10.6687 16.6688 10.5 16.875 10.5H23.625C23.8312 10.5 24 10.6687 24 10.875V11.625ZM24 8.625C24 8.83125 23.8312 9 23.625 9H16.875C16.6688 9 16.5 8.83125 16.5 8.625V7.875C16.5 7.66875 16.6688 7.5 16.875 7.5H23.625C23.8312 7.5 24 7.66875 24 7.875V8.625Z" fill="#501F6E"/>
                        </svg>
                        {{ module.top_sub_title.translatable }}
                    </h5>
                    <h4>{{ module.top_title.translatable }}</h3>
                </div>

            </div>

            <div class="why_choose_container ">

                {% for why_choose in page.header.why_choose %}

                    <div class="why_choose_card">
                        {# {% set img_out = page.media[why_choose.image_outside] %}
                        {% if img_out != '' %}
                            <div class="img_out">
                                <img class="" src="{{ img_out.url }}"/>
                            </div>
                        {% endif %} #}

                        <div class="why_choose_contents">
                            {% set img_in = page.media[why_choose.image_inside] %}
                            <div class="why_choose_content">
                                {% set icon = page.media[why_choose.icon] %}
                                <div class="icon_head">
                                    <img class="icon" src="{{ icon.url }}"/>
                                    <h4 class="head">{{ why_choose.title.translatable }}</h4>
                                </div>
                                
                                <p class="desc">{{ why_choose.description.translatable }}</p>
                            </div>
                            {% if img_in != '' %}
                                <div class="img_in">
                                    <img class="" src="{{ img_in.url }}"/>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if module.button_text.translatable != null %}
                <a href="/{{ grav.language.getActive }}{{ module.button_url }}"
                class="button">
                    {{ module.button_text.translatable }}
                </a>
            {% endif %}
        
        </div>
    </div>
{% endblock %}
