{% extends 'partials/variables.html.twig' %}

{% set contents = page.header.module %}
{% set contents_why_choose = page.header.why_choose %}

{% block render_block %}
    <div class="why-choose-section">
        <div class="container">

            <div class="why_choose_wrapper">

                <div class="why_choose_img">
                    <img src="{{ page.media[contents.image].url }}" alt="Wwy Choose img"/>
                   
                </div>
        
                <div class="why_choose_content_wrapper">

                    {% if contents.title %}
                        <h3 class="title section-title">{{ contents.title.translatable|striptags('<span>')|raw }}</h3>
                    {% endif %}

                    <div class="description">
                        {% if page.content %}                       
                            {{ page.content|raw }}                  
                        {% endif %}
                    </div>

                    <div class="why-choose-items">
                        {% for item in contents_why_choose %}
                            <div class="item">
                                <img src="{{ page.media[item.icon].url }}" alt="Icon" />
                                <span>{{ item.title.translatable|raw }}</span>
                            </div>
                        {% endfor %}
                    </div>

                    
                </div>
            </div>
         </div>
    </div>
{% endblock %}
