{% set layout = layout ?? form.layout ?? 'default' %}
{% set field_layout = layout %}

{% set client_side_validation = form.client_side_validation is not null ? form.client_side_validation : config.plugins.form.client_side_validation|default(true) %}
{% set inline_errors = form.inline_errors is not null ? form.inline_errors : config.plugins.form.inline_errors(false) %}

<section id="grav-login">
  <h1>{{ 'METRICALO.PAGE_FORGOT_PASSWORD_TITLE'|t }}</h1>
  <p>{{ 'METRICALO.PAGE_FORGOT_PASSWORD_BODY'|t }}</p>

  <form method="post" action="{{ (base_url_relative ~ uri.path)|e }}">
    {% for field in form.fields %}
      {% set field = prepare_form_field(field, field_name) %}
      {% if field %}
        {% set value = field.name == 'username' ? username : '' %}
        {# {% set value = form.value(field.name) %} #}
        {% set field_templates = include_form_field(field.type, field_layout) %}
        {% block field %}
          {% include field_templates ignore missing %}
        {% endblock %}
      {% endif %}
    {% endfor %}

    <div class="form-actions secondary-accent form-action-wrapper">
        <button type="submit" class="button primary" name="task" value="login.forgot">
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none">
            <path d="M8.76037 7.19814L8.75936 7.19706L2.84018 1.30643C2.39674 0.865147 1.6795 0.866789 1.2381 1.31029C0.796758 1.75372 0.798458 2.47096 1.2419 2.91231L5.21603 6.86718C6.09265 7.7438 6.09265 8.25615 5.21598 9.13281L1.24195 13.0877C0.798514 13.529 0.796816 14.2463 1.23816 14.6897C1.67956 15.1333 2.39686 15.1348 2.84024 14.6936L8.75941 8.80293L8.76043 8.80186C9.2041 8.35904 9.20268 7.63948 8.76037 7.19814Z" fill="white"/>
          </svg>
          {{ 'METRICALO.SEND_RESET_PASSWORD_LINK'|t }}
        </button>
    </div>

    {{ nonce_field('forgot-form', 'forgot-form-nonce')|raw }}
  </form>
</section>
