<div class="course course-vertical flex-column {{ module.classes|replace({',' : ' '}) }}">
    <div class="course-container">
        {% set image = page.media[course.image] %}
        <div class="image-container">
            <img class="image" src="{{ image.url }}"/></div>

        <div class="course-content">
            <h5 class="course-title" title="{{course.title.translatable}}">{{ course.title.translatable }}</h5>
            <p>{{ course.description.translatable }}</p>
        </div>
    </div>
</div>