<p class="{{footer_text_color}}"><b><span class="span">{{ 'METRICALO.HOURS'|t }}</b>: {{ webdata('support_hours') }}<br /></span></p>

<p class="{{footer_text_color}}"><b>{{ 'METRICALO.PHONE'|t }}</b>: <a href="tel:{{ webdata('support_phone') }}" target="_blank" rel="noopener noreferrer"><span class="span">{{ webdata('support_phone') }}<br /></span></a></p>

<p class="{{footer_text_color}}"><b>{{ 'METRICALO.EMAIL'|t }}</b>: <a href="mailto:{{ webdata('support_email') }}" target="_blank" rel="noopener noreferrer"><span class="span">{{ webdata('support_email') }}<br /></span></a></p>

<p class="{{footer_text_color}}"><b><span class="span">{{ 'METRICALO.ADDRESS'|t }}</b>: {{ webdata('company.address') }}, {{ webdata('company.city') }}, {{ webdata('company.postcode') }}, {{ webdata('company.country') }}</span></p>
