{% set module = page.find('/home').header.contents %}

<div class="contact-section">
    <div class="container">
        <div class="all-info">
            {% for contact in module %}
                <div class="contact">
                    
                    <img src="{{ url('theme://images/contact-section/c'~ loop.index ~'.webp') }}" />

                    <div class="content">
                        <h5>{{ contact.title.translatable }}</h5>
                        {% if loop.index == 1 %}
                            {# <p>{{ webdata('company.address') }}</p> #}
                            <p>{{ webdata('company.address') }}, {{ webdata('company.city') }}, {{ webdata('company.postcode') }}, {{ webdata('company.country') }}</p>
                        {% elseif loop.index == 2 %}
                            <p>{{ webdata('support_phone') }}</p>
                        {% else %}
                            <p>{{ webdata('support_email') }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</div>