<div class="footer-bottom">
    <p>{{ "METRICALO.COPYRIGHT"|t|raw }} &copy; {{ data.name }} {{ "now"|date('Y') }},  {{ data.company.name }} - {{data.company.country_code}} {{ data.company.business_number }} - {{ data.company.address }}, {{ data.company.city }}, {{ data.company.postcode }}, {{ data.company.country }} | {{ "METRICALO.RIGHTS_RESERVED"|t }}.</p>
</div>