<div class="footer-menu">
    <div class="frame-24">
        {% for link in landingLinks %}
            {% set link_page = pages.find(link) %}
            {% if link_page %}
                <div class="menu-item">
                    <a rel="noopener noreferrer" class="{{ footer_text_color }}"
                       href="{{ link_page.url|replace({'%20': ' ','%23': '#', '%3A': ':', '%2F': '/'}) }}">{{ link_page.menu }}</a>
                </div>
            {% endif %}
        {% endfor %}
        <div class="menu-item">
            <a rel="noopener noreferrer" class="" href="{{ homepage_content.footer_pricing_url }}">{{ homepage_content.footer_pricing.translatable|t }}</a>
        </div>

        {% for link in ploicyLinks %}
            {% set link_page = pages.find(link) %}
            {% if link_page %}
                <div class="menu-item">
                    <a rel="noopener noreferrer" class="{{ footer_text_color }}"
                       href="{{ link_page.url|replace({'%20': ' ','%23': '#', '%3A': ':', '%2F': '/'}) }}">{{ link_page.menu }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>