
<div class="header-buttons {{ login_order }}">
	{% if grav.user.authenticated %}
		<a class="btn {{navbar_button_style}}" href="{{ url('/task:login.logout') }}">{{ "METRICALO.LOGOUT"|t }}</a>
	{% else %}
		<a class="btn active-btn {{navbar_button_style}}" href="{{ url('/login') }}">{{ "METRICALO.LOGIN"|t }}</a>
		<a class="{{navbar_button_style}} btn signup" href="{{ home_url|e }}{{ webdata('signup_url') }}">
			<span>{{ page.find('/home').header.signup_btn_text.translatable }}</span>
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
			<path d="M15.9265 6.29289C15.536 5.90237 14.9028 5.90237 14.5123 6.2929C14.1218 6.68342 14.1218 7.31659 14.5123 7.70711L17.8052 11H4.21936C3.66708 11 3.21936 11.4477 3.21936 12C3.21936 12.5523 3.66708 13 4.21936 13H17.8052L14.5123 16.2929C14.1218 16.6834 14.1218 17.3166 14.5123 17.7071C14.9029 18.0976 15.536 18.0976 15.9266 17.7071L20.9212 12.7124C20.9396 12.6942 20.9574 12.6753 20.9744 12.6558C21.0419 12.5781 21.0955 12.4926 21.1352 12.4024C21.189 12.2801 21.219 12.145 21.2194 12.003V12C21.2194 11.9969 21.2194 11.9938 21.2194 11.9907C21.2182 11.865 21.1939 11.7447 21.1504 11.6341C21.1016 11.5098 21.027 11.3933 20.9265 11.2929L15.9265 6.29289Z" fill="white"/>
			</svg>
		</a>
	{% endif %}
	{% if grav.language.enabled and grav.language.languages|count > 1 %}
		<div class="lang-mobile-menu">
			<span class="language-switcher" data-current-lang="{{ grav.language.active }}" id="open-modal"><img class="frame-29 lang-flag" src="{{ url('theme://images/lang/'~grav.language.active~'.svg') }}">
{#			{{ grav.language.active|upper }}#}
				

				<svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
				<path d="M8.27967 3.4082H3.34634C2.94634 3.4082 2.74634 3.89154 3.02967 4.17487L5.18801 6.3332C5.53384 6.67904 6.09634 6.67904 6.44217 6.3332L7.26301 5.51237L8.60051 4.17487C8.87967 3.89154 8.67967 3.4082 8.27967 3.4082Z" fill="white"/>
				</svg>
			</span>
			<div id="mobile-menu-icon">
				<span></span>
			</div>
			<div class="cheeseburger-menu__close" id="cheeseburger-menu-close">
				<span></span>
			</div>
		</div>
	{% endif %}
</div>
