{% set body_classes = 'bg-gray-50 page-change-password' %}
{% extends 'partials/base.html.twig' %}

{% set homepage = grav.pages.find('/') %}
{% set change_password_content = homepage.header.change_password %}

{% block content %}
  {# {% include 'partials/no-hero-header.html.twig' with {
    'title': page.header.title,
    'links': [
      {
        'url': '/' ~ grav.language.getActive,
        'title': "METRICALO.LOGIN_HEADER_HOME"|t
      },
      {
        'url': url(grav.language.getActive ~ '/profile'),
        'title': "METRICALO.BREADCRUMB_PROFILE"|t
      },
      {
        'title': "METRICALO.CHANGE_PASSWORD"|t
      }
    ]
  } %} #}

{#  <div class="content-section change-password-form slide-up animate main-container">#}
{#    #}{# {% include 'forms/form.html.twig' with { form: forms('change-password'), action: url(grav.language.getActive ~'profile/change-password') } %} #}
{#    {% include 'forms/form.html.twig' with { form: forms('change-password'), action: url('profile/change-password') } %}#}
{#    <div class="form-actions">#}
{#      <button form="change-password" type="submit" class="button primary no-underline">#}
{#        {{ 'METRICALO.CHANGE_PASSWORD'|t }}#}
{#      </button>#}
{#    </div>#}
{#  </div>#}


<div class="change-password-section">
  <div class="container ">
    {% embed "widgets/whq-card.html.twig" %}
      {% block card_title %}
        {{ "METRICALO.CHANGE_PASSWORD"|t }}
      {% endblock %}

      {% block card_image %}
          <img src="{{ url('theme://images/login-image.webp') }}" alt="Responsive Image">
      {% endblock %}

      {% block card_content %}
        {#        {% include "forms/form.html.twig" with {form: forms('unsubscribe'), action: '#'} %}#}
{#        {% include 'partials/subscription.html.twig' with { canSubmit: true } %}#}

        <div class='top'>
          <h3>{{ change_password_content.title.translatable | raw }}</h3>
          <p>{{ change_password_content.dec.translatable | raw }}</p>
        </div>


        {% include 'forms/form.html.twig' with { form: forms('change-password'), action: url('profile/change-password') } %}
        <div class="form-actions">
          <button form="change-password" type="submit" class="button primary no-underline">
            {{ 'METRICALO.CHANGE_PASSWORD'|t }}
          </button>
        </div>
      {% endblock %}
    {% endembed %}
  </div>
  </div>

  {# {% include 'widgets/contact-section.html.twig' %} #}

{% endblock %}
