{% set body_classes = 'bg-gray-50 profile-page' %}
{% extends 'partials/base.html.twig' %}
{% set title = page.header.profile.title.translatable %}

{% set homepage = grav.pages.find('/') %}
{% set profile_content = homepage.header.profile %}


 {% set customer = website_manager_api.getCustomer(grav.user.data.customer_id) %}
{#{% set customer = website_manager_api.getCustomer('fdff') %}#}

{% set userProfile = forms('user-profile') %}
{% do userProfile.setAllData({
    first_name: customer.data.first_name,
    last_name: customer.data.last_name,
    address: customer.data.address,
    city: customer.data.city,
    postcode: customer.data.postcode,
    phone: customer.data.phone
}) %}

{#{% do userProfile.setAllData({#}
{#    first_name: 'Mujahid',#}
{#    last_name: 'Islam',#}
{#    address: '29/4, Uttara',#}
{#    city: 'Dhaka',#}
{#    postcode: '1211',#}
{#    phone: '+8801232454454'#}
{#}) %}#}

{% block content %}

    {% include 'partials/no-hero-header.html.twig' with {
        'title': page.header.title,
        'links': [
            {
                'url': '/' ~ grav.language.getActive,
                'title': "METRICALO.HOME"|t
            },
            {
                'title': page.header.title
            }
        ]
    } %}

    {% include 'partials/messages.html.twig' %}
    <div class="max-w-6xl mx-auto rounded-lg bg-white shadow-2xl shadow-gray-300 border border-gray-200 p-12 slide-up main-container">
        <div class="content-section-profile">
            <div class="container">
                <div class="paragraph-column">
                    <h2 class="text-4xl font-bold mb-8 text-brand">
                        {{ profile_content.title.translatable }}
                    </h2>
                    {% include 'forms/form.html.twig' with { form: userProfile, action: '#' } %}
                    <div class="form-actions flex justify-between space-x-2">
                        <a href="{{ url(grav.language.getActive ~ '/profile/change-password') }}" class="button primary no-underline">
                            {{ 'METRICALO.CHANGE_PASSWORD'|t }}
                        </a>
                        <button form="user-profile" type="submit" class="button primary">
                            {{ 'METRICALO.EDIT_PROFILE'|t }}
                        </button>
                    </div>
                </div>
                <div class="paragraph-column">
                    <a class=" button btn__simple my-orders" href="{{ url(grav.language.getActive ~ '/profile/orders') }}">
                        {{ 'METRICALO.MY_ORDERS'|t }}
                    </a>

                    <h2 class="text-4xl font-bold mb-8 text-brand">
                        <svg xmlns="http://www.w3.org/2000/svg" width="104" height="2" viewBox="0 0 104 2" fill="none">
                            <path d="M1 0.999878H103" stroke="#0D0D0D" stroke-linecap="round"/>
                        </svg>
                        {{ 'METRICALO.SUBSCRIPTION'|t }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="104" height="2" viewBox="0 0 104 2" fill="none">
                            <path d="M1 0.999878H103" stroke="#0D0D0D" stroke-linecap="round"/>
                        </svg>
                    </h2>
                    {% include 'partials/subscription.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}